@font-face {
    font-family: 'Bubbleboddy';
    src: url('../../assets/fonts/QuikyRegular-er7B.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.email_input {
    position: absolute;
    width: 200px;
    height: 30px;
    border: 2px solid darkcyan;
}

.email_input {
    position: absolute;
    top: 560px;
    width: 200px;
    height: 30px;
    border: 2px solid darkcyan;
}

.password_input {
    position: absolute;
    top: 600px;
    width: 200px;
    height: 30px;
    border: 2px solid darkcyan;
}

.register_button {
    position: absolute;
    top: 650px;
    width: 200px;
    height: 30px;
    background: darkcyan;
    border: none;
    outline: none;
}

