@font-face {
    font-family: 'Bubbleboddy';
    src: url('../../assets/fonts/QuikyRegular-er7B.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.auth_background {
    background: url('/assets/images/background_4.jpg');
    background-size: cover;
}

.container {
    display: inline-flex;
    justify-content: space-between;
}

.left, .right {
    padding: 0 100px;
}

.email_input {
    display: block;
    top: 560px;
    width: 200px;
    height: 30px;
}

.password_input {
    display: block;
    width: 200px;
    height: 30px;
}

label {
    display: block;
    color: #ffffff;
    font-size: 16px;
    margin: 5px 0;
    font-family: 'Bubbleboddy', Helvetica, sans-serif;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    background: #5bb75b;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
}
