@font-face {
    font-family: 'Bubbleboddy';
    src: url('../../assets/fonts/QuikyRegular-er7B.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
